* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  height: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

button, header .button {
  background-color: #00f3bb;
  border: none;
  cursor: pointer;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  width: 100%;
}

section {
  padding: 0 5%;
}

section p {
  line-height: 30px;
}

.colored-section {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

img {
  width: 100%;
}

.block-img {
  display: block;
}

.colored-section {
  color: white;
}

nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
}

nav img {
  display: block;
  width: 30px;
}

nav label {
  cursor: pointer;
  display: block;
  font-size: 25px;
}

nav input[type="checkbox"] {
  display: none;
}

nav .menu {
  display: none;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

nav li {
  display: block;
}

#toggle:checked + .menu {
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
}

#toggle:checked + .menu {
  -webkit-animation: 0.5s linear expand;
          animation: 0.5s linear expand;
}

#toggle:checked + .menu li {
  padding: 30px 0;
  border-bottom: 1px solid #dadada;
}

header {
  padding-top: 50px;
}

header .button {
  text-align: center;
  line-height: 48px;
}

header #strike {
  text-decoration: line-through;
}

header #dot {
  color: #0000ec;
}

#episodes {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  margin-top: 60px;
  padding-top: 10%;
  padding-bottom: 30%;
}

#episodes .container {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

#episodes iframe {
  margin-bottom: 10px;
}

#about {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

#guests {
  padding: 0;
}

#guests h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 5%;
}

#topics div {
  text-align: center;
}

#topics h3 {
  font-size: 24px;
  font-weight: 800;
}

#topics img {
  width: 104px;
}

#topics .topic {
  margin-bottom: 80px;
}

#news {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

footer {
  padding: 40px;
  text-align: center;
}

footer i {
  margin: 0 15px;
}

@media (min-width: 1120px) {
  section {
    padding: 5% 15%;
  }
  .grid {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  section {
    padding: 5% 15%;
  }
  .grid {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 1120px) {
  nav {
    padding: 3% 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  nav label {
    display: none;
  }
  nav .menu {
    display: block;
    width: auto;
  }
  nav li {
    display: inline;
    margin: 0 20px;
  }
}

@media (min-width: 1120px) {
  #home h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  #home p {
    width: 628px;
    margin-bottom: 75px;
  }
  #home .button {
    width: 226px;
  }
}

@media (min-width: 1120px) {
  #episodes {
    margin-top: 0;
    padding: 5% 8% 10%;
  }
  #episodes .grid {
    gap: 50px;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #episodes {
    padding: 5% 5% 15%;
  }
  #episodes .grid {
    gap: 20px;
  }
}

#episodes iframe {
  margin-bottom: 0;
}

#episodes .grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media (min-width: 1120px) {
  #about {
    padding-bottom: 0;
  }
  #about img {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    width: 50%;
  }
  #about .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .column {
    padding-left: 50px;
    width: 50%;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #about {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  #about img {
    display: inline;
  }
  #about .flex {
    text-align: center;
  }
  #about .column {
    text-align: left;
  }
}

@media (min-width: 1120px) {
  #guests .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 0;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #guests .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

@media (min-width: 1120px) {
  #topics {
    padding: 50px 15%;
  }
  #topics .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding: 30px;
  }
  #topics .topic {
    margin-bottom: 0;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #topics .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1120px) {
  #news {
    padding-top: 5%;
  }
  #news button {
    display: block;
    margin: 0 auto;
    width: 345px;
  }
}

@media (min-width: 1120px) {
  footer {
    padding: 1% 5%;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@-webkit-keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 336px;
  }
}

@keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 336px;
  }
}
/*# sourceMappingURL=main.css.map */