@-webkit-keyframes expand {
  from {
    height: 0;
  }
  to {
    height: 252px;
  }
}

@keyframes expand {
  from {
    height: 0;
  }
  to {
    height: 252px;
  }
}

@-webkit-keyframes contract {
  from {
    height: 252px;
  }
  to {
    height: 0;
  }
}

@keyframes contract {
  from {
    height: 252px;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes button-hover {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes button-hover {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  height: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

a:active {
  color: #060a24;
  opacity: 56%;
  text-decoration: line-through;
}

img {
  width: 100%;
}

.block-img {
  display: block;
}

iframe {
  border: none;
  height: 232px;
  width: 100%;
}

#about {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

#episodes {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  margin-top: 60px;
  padding-top: 10%;
  padding-bottom: 30%;
}

#episodes .container {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

#episodes iframe {
  margin-bottom: 10px;
}

#guests {
  padding: 0;
}

#guests h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 5%;
}

#home {
  margin-top: 50px;
  padding-top: 10px;
}

#home .button:active {
  opacity: 100%;
}

#home #desktop-text {
  display: none;
}

#home #strike {
  text-decoration: line-through;
}

#home #dot {
  color: #0000ec;
}

#home #break {
  display: block;
}

#news {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

#topics div {
  text-align: center;
}

#topics h3 {
  font-size: 24px;
  font-weight: 800;
}

#topics img {
  width: 104px;
}

#topics .topic {
  margin-bottom: 80px;
}

nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
}

nav span {
  background-color: black;
  display: block;
  height: 3px;
  width: 25px;
  position: fixed;
  top: 15px;
  right: 17px;
  margin-bottom: 4px;
}

nav img {
  display: block;
  width: 30px;
}

nav label {
  cursor: pointer;
  display: block;
  font-size: 25px;
}

nav input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: block;
  position: fixed;
  top: 10px;
  right: 15px;
  width: 25px;
  height: 25px;
  z-index: 1;
}

nav input[type="checkbox"]:focus {
  outline: 0;
}

nav .menu {
  display: none;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0 5%;
  width: 100%;
}

nav li {
  display: block;
}

#toggle:checked ~ .menu {
  -webkit-animation: 0.4s linear expand;
          animation: 0.4s linear expand;
  background-color: #0000ec;
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
}

#toggle:checked ~ .menu li {
  padding: 20px 0;
  color: white;
}

#toggle:checked ~ .menu a {
  color: white;
}

#toggle:checked ~ .menu a:hover {
  color: #00f3bb;
}

#toggle:checked ~ .menu a:active {
  color: #d1d1d3;
}

#toggle ~ #bar-top {
  -webkit-transform: rotate(0) translate(0, 0);
          transform: rotate(0) translate(0, 0);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

#toggle ~ #bar-center {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  top: 22px;
}

#toggle ~ #bar-bottom {
  -webkit-transform: rotate(0) translate(0, 0);
          transform: rotate(0) translate(0, 0);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  top: 29px;
}

#toggle:checked ~ #bar-top {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

#toggle:checked ~ #bar-center {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

#toggle:checked ~ #bar-bottom {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

button, .button {
  background-color: #00f3bb;
  border: none;
  cursor: pointer;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  width: 100%;
}

button:hover, .button:hover {
  -webkit-animation: 0.3s linear button-hover;
          animation: 0.3s linear button-hover;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#00f0b8), to(#0000fe));
  background: linear-gradient(90deg, #00f0b8 0%, #0000fe 100%);
}

.button {
  text-align: center;
  line-height: 48px;
}

.button:hover {
  text-decoration: none;
}

footer {
  padding: 40px;
  text-align: center;
}

footer i {
  margin: 0 15px;
}

footer a:hover {
  text-decoration: none;
}

footer a:active {
  text-decoration: none;
}

section {
  padding: 0 5%;
}

section p {
  line-height: 30px;
}

.colored-section {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  color: white;
}

@media (min-width: 1120px) {
  section {
    padding: 5% 15%;
  }
  .grid {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  section {
    padding: 5% 15%;
  }
  .grid {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 1120px) {
  nav {
    padding: 3% 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  nav span {
    display: none;
  }
  nav input[type="checkbox"] {
    display: none;
  }
  nav img {
    width: 36px;
  }
  nav .menu {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
  }
  nav li {
    display: inline;
    margin: 0 20px;
  }
}

@media (min-width: 1120px) {
  #home {
    margin-top: 76px;
    padding-top: 80px;
  }
  #home h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  #home p {
    width: 700px;
    margin-bottom: 75px;
  }
  #home .button {
    width: 226px;
  }
  #home #mobile-text {
    display: none;
  }
  #home #desktop-text {
    display: inline;
  }
  #home #break {
    display: inline;
  }
}

@media (min-width: 1120px) {
  #episodes {
    margin-top: 0;
    padding: 5% 8% 10%;
  }
  #episodes .grid {
    gap: 50px;
  }
  #episodes iframe {
    margin-bottom: 0;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #episodes {
    padding: 5% 5% 15%;
  }
  #episodes .grid {
    gap: 20px;
  }
  #episodes iframe {
    margin-bottom: 0;
  }
}

#episodes .grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media (min-width: 1120px) {
  #about {
    padding-bottom: 0;
  }
  #about img {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    width: 50%;
  }
  #about .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .column {
    padding-left: 50px;
    width: 50%;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #about {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  #about img {
    display: inline;
  }
  #about .flex {
    text-align: center;
  }
  #about .column {
    text-align: left;
  }
}

@media (min-width: 1120px) {
  #guests .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 0;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #guests .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

@media (min-width: 1120px) {
  #topics {
    padding: 50px 15%;
  }
  #topics .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding: 30px;
  }
  #topics .topic {
    margin-bottom: 0;
  }
}

@media (min-width: 700px) and (max-width: 1119px) {
  #topics .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1120px) {
  #news {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  #news button {
    display: block;
    margin: 0 auto;
    width: 345px;
  }
}

@media (min-width: 1120px) {
  footer {
    padding: 1% 5%;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */