@include for-desktop {
  #about {
    padding-bottom: 0;

    img {
      transform: translateY(-70px);
      width: 50%;
    }

    article {
      padding-left: 50px;
      text-align: left;
      width: 50%;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@include for-tablet {
  #about {
    transform: translateY(-100px);

    img {
      display: inline;
      max-width: 80%;
    }

    .flex {
      text-align: center;
    }
  }
}
