@include for-desktop {
  #home {
    margin-top: 76px;
    padding-top: 80px;

    h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }

    p {
      width: 700px;
      margin-bottom: 75px;
    }

    .button {
      width: 226px;
    }

    #mobile-text {
      display: none;
    }

    #desktop-text {
      display: inline;
    }

    #break {
      display: inline;
    }
  }
}

@include for-tablet {
  #home {
    .button {
      width: 226px;
    }
  }
}
