@include for-desktop {
  #home {
    margin-top: 76px;
    padding-top: 80px;

    h1 {
      font-size: 4rem;
      margin-bottom: 0;
    }

    p {
      width: 628px;
      margin-bottom: 75px;
    }

    .button {
      width: 226px;
    }

    #break {
      display: inline;
    }
  }
}
