@include for-desktop {
  nav {
    padding: 3% 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    span {
      display: none;
    }

    input[type="checkbox"] {
      display: none;
    }

    img {
      width: 36px;
    }

    .menu {
      display: block;
      width: max-content;
      padding: 0;
    }

    li {
      display: inline;
      margin: 0 20px;
    }
  }
}
