* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: $body-font;
  font-size: 18px;
  height: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-size: 40px;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: $anchor-hover;
  text-decoration: line-through;
}

a:active {
  color: $anchor-active;
  opacity: 56%;
  text-decoration: line-through;
}

%button {
  background-color: $button-color;
  border: none;
  cursor: pointer;
  display: block;
  font-family: $body-font;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  width: 100%;
}

button {
  @extend %button;
}

button:hover {
  background: $hover-gradient;
  color: white;
}

section {
  padding: 0 5%;

  p {
    line-height: 30px;
  }
}

.colored-section {
  background: $blue-gradient;
}

img {
  width: 100%;
}

.block-img {
  display: block;
}

.colored-section {
  color: white;
}
