$header-font: "IBM Plex Sans", sans-serif;
$body-font: "IBM Plex Mono", monospace;
$button-color: #00f3bb;
$blue-start: #0000ff;
$blue-end: #0000a3;
$blue-gradient: linear-gradient(225deg, $blue-start 0%, $blue-end 100%);
