%button {
  background-color: $button-color;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  width: 100%;
  transition: color 0.8s;
}

%button-hover {
  background: $hover-gradient;
  color: white;
}

button {
  @extend %button;
}

button:hover {
  @extend %button-hover;
}

.button {
  @extend %button;
  text-align: center;
  line-height: 48px;
}

.button:hover {
  @extend %button-hover;
  text-decoration: none;
}
