header {
  padding-top: 50px;

  .button {
    @extend %button;
    text-align: center;
    line-height: 48px;
  }

  #strike {
    text-decoration: line-through;
  }

  #dot {
    color: #0000ec;
  }
}
