#home {
  margin-top: 50px;
  padding-top: 10px;

  .button {
    @extend %button;
    text-align: center;
    line-height: 48px;
  }

  .button:hover {
    background: $hover-gradient;
    color: white;
    text-decoration: none;
  }

  .button:active {
    opacity: 100%;
  }

  #desktop-text {
    display: none;
  }

  #strike {
    text-decoration: line-through;
  }

  #dot {
    color: #0000ec;
  }

  #break {
    display: block;
  }
}
