header {
  padding-top: 50px;

  .button {
    @extend %button;
    text-align: center;
    line-height: 48px;
  }

  .button:hover {
    background: $hover-gradient;
    color: white;
    text-decoration: none;
  }

  .button:active {
    opacity: 100%;
  }

  #strike {
    text-decoration: line-through;
  }

  #dot {
    color: #0000ec;
  }
}
