nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  z-index: 1;

  span {
    background-color: black;
    display: block;
    height: 3px;
    width: 25px;
    position: fixed;
    top: 15px;
    right: 17px;
    margin-bottom: 4px;
  }

  img {
    display: block;
    width: 30px;
  }

  label {
    cursor: pointer;
    display: block;
    font-size: 25px;
  }

  input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 25px;
    z-index: 1;
  }

  input[type="checkbox"]:focus {
    outline: 0;
  }

  .menu {
    display: none;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 5%;
    width: 100%;
  }

  li {
    display: block;
  }
}

#toggle:checked ~ .menu {
  & {
    animation: 0.4s linear expand;
    background-color: $blue-highlight;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
  }

  li {
    padding: 20px 0;
    color: white;
  }

  a {
    color: white;
  }

  a:hover {
    color: $anchor-hover;
  }

  a:active {
    color: #d1d1d3;
  }
}

#toggle ~ #bar-top {
  & {
    transform: rotate(0) translate(0, 0);
    transition: transform 0.4s linear;
  }
}

#toggle ~ #bar-center {
  & {
    transform: translateX(0);
    transition: transform 0.4s linear;
    top: 22px;
  }
}

#toggle ~ #bar-bottom {
  & {
    transform: rotate(0) translate(0, 0);
    transition: transform 0.4s linear;
    top: 29px;
  }
}

#toggle:checked ~ #bar-top {
  & {
    transform: rotate(45deg) translate(5px, 5px);
    transition: transform 0.4s linear;
  }
}

#toggle:checked ~ #bar-center {
  & {
    transform: translateX(50px);
    transition: transform 0.4s linear;
  }
}

#toggle:checked ~ #bar-bottom {
  & {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: transform 0.4s linear;
  }
}
