@keyframes expand {
  from {
    height: 0;
  }

  to {
    height: 252px;
  }
}

@keyframes contract {
  from {
    height: 252px;
  }

  to {
    height: 0;
  }
}

@keyframes button-hover {
  from {
    color: black;
  }

  to {
    color: white;
  }
}
