$header-font: "IBM Plex Sans", sans-serif;
$body-font: "IBM Plex Mono", monospace;
$button-color: #00f3bb;
$blue-start: #0000ff;
$blue-end: #0000a3;
$hover-start: #00f0b8;
$hover-end: #0000fe;
$blue-highlight: #0000ec;
$anchor-hover: #00f3bb;
$anchor-active: #060a24;
$blue-gradient: linear-gradient(225deg, $blue-start 0%, $blue-end 100%);
$hover-gradient: linear-gradient(90deg, $hover-start 0%, $hover-end 100%);
